<?xml version="1.0"?>
<launch>

<param name="robot_description" command="xacro '$(find amr_dual_arm_description)/urdf/amr.urdf.xacro'"/>
<arg name="rviz_config_file" default="$(find amr_dual_arm_description)/config/show_robot_model.rviz"/>


<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config_file)"/>



</launch>
